
{>
{% block title %}Add Comment{% endblock%}

{% block body %}
    <h1> dfdsf</h1>

    {{ form.comment }}
            </div>
        </div>
    </div>
</section>
        </div>
    </div>
</div>
</body>


{% endblock %}


