{% extends "::base.html.twig" %}
{% block body %}


    <br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/>
    <center>
        <h1>Page d'acceuil </h1>
        <p><a class="button bg-blue " href="{{ path('fos_user_security_login') }}">Se connecter</a></p>
    </center>
{% endblock %}