
{% extends "base.html.twig" %}

{% block body %}
    <br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/>
    <center>
        <p>Vous Etes correctement connecté </p><p>Bonjour <3 </p>

        <p><a href="{{ path('medcinTemplate') }}"> Aller a l'espace de medcin</a></p>
        <p><a href="{{ path('liste_membres') }}">Aller a l'espace de l'adminstrateur</a></p>
    </center>
{% endblock %}