{% extends "base.html.twig" %}
{% block body %}
    <br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/>


    <center>
        <h1>Page de médcin </h1>
        <p><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></p>
    </center>
{% endblock %}